.auth-heading h1 {
    color: white;
    font-size: 30px;
    font-family: Roboto;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    word-wrap: break-word;
    margin: 15px 0;
}

.auth-heading p {
    color: #989898;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 400;
    word-wrap: break-word;
    margin: 0 0 35px 0;
    text-align: center;
}


.input-group {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 150px;
}

.input-group input {
    width: 100%;
    padding: 18px 40px;
    background-color: #1A1A1A;
    color: gray;
    border: none;
    border-radius: 15px;
    outline: none;
    font-size: 16px;
}

.input-group input:-webkit-autofill,
.input-group input:-webkit-autofill:hover,
.input-group input:-webkit-autofill:focus,
.input-group input:-webkit-autofill:active {
    background-color: #1A1A1A !important;
    color: gray !important;
    -webkit-text-fill-color: gray !important;
    -webkit-box-shadow: 0 0 0px 1000px #1A1A1A inset !important;
    transition: background-color 5000s ease-in-out 0s;
}

.input-group input::placeholder {
    color: gray;
}

.input-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    fill: gray !important;
    pointer-events: none;
}

.auth-button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth-button button {
    width: 124px;
    height: 39px;
    background: #6852D6;
    box-shadow: 0px 8px 21px rgba(0, 0, 0, 0.16);
    border-radius: 9px;
    border: none;
    color: white;
    margin: 35px 0 25px 0;
}

.auth-button p {
    color: #989898;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 700;
    word-wrap: break-word;
}

.auth-button p a {
    color: #6852D6;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 700;
    text-decoration: underline;
    word-wrap: break-word;
}

@media (max-width: 650px) {
    .input-group {
        margin: 12px 50px;
    }
}