.button {
    max-width: 500px;
    min-height: 40px;
    padding: 12px 24px;

    background-color: #A366FF;
    color: white;

    border: none;
    border-radius: 10px;

    font-size: 1em;
    font-weight: 700;

    cursor: pointer;

    transition: all 0.3s;
}

.button:hover {
    background-color: #5942c4;
}