.userChatWrapper {
  width: 100%;
  height: 100%;
  overflow: auto;
  position: relative;
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOutToRight {
  from {
    transform: translateX(0);
    opacity: 1;
  }

  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

.mobile {
  animation: slideInFromRight 0.3s ease-out forwards;
}

.exitMobile {
  animation: slideOutToRight 0.3s ease-out forwards;
}

.userChatWrapper>* {
  width: 100%;
  height: 100%;
}