.groupAddOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    max-height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.groupAddContainer {
    background-color: #2a2a2e;
    color: #fff;
    border-radius: 10px;
    width: 80%;
    max-width: 900px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    transform: scale(0.9);
}

.groupAddHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.groupAddHeader h2 {
    font-size: 1.5rem;
    font-weight: bold;
}

.closeButton {
    background: none;
    border: none;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    transition: color 0.3s ease;
}

.closeButton:hover {
    color: #ff4d4f;
}

.groupAddInput {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.groupAddInput input,
.groupAddInput textarea,
.usersSection input {
    padding: 0.8rem;
    border-radius: 8px;
    border: none;
    background-color: #1a1a1a;
    color: #fff;
    font-size: 1rem;
    outline: none;
}

textarea {
    resize: none;
    padding-right: 10px;
}

textarea::-webkit-scrollbar {
    width: 2px;
    transition: all 0.3s ease-in;
}

textarea::-webkit-scrollbar-track {
    background: #1A1A1A;
    margin: 10px 0;
}

textarea::-webkit-scrollbar-thumb {
    background: #444;
    border-radius: 10px;
}

textarea::-webkit-scrollbar-thumb:hover {
    background: #666;
    width: 8px;
}

.groupIconCircle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #f0f0f0;
    cursor: pointer;
    border: 2px solid #ccc;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.groupIconCircle:hover {
    border-color: #888;
}

.groupAddContent {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.usersSection {
    flex: 1;
}

.usersListContainer {
    margin-top: 10px;
    max-height: 150px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.usersListContainer::-webkit-scrollbar {
    width: 2px;
    transition: all 0.3s ease-in;
}

.usersListContainer::-webkit-scrollbar-track {
    background: #1A1A1A;
}

.usersListContainer::-webkit-scrollbar-thumb {
    background: #444;
    border-radius: 10px;
}

.usersListContainer::-webkit-scrollbar-thumb:hover {
    background: #666;
    width: 8px;
}

.selectedMembersSection {
    flex: 1;
}

.selectedMembersList {
    max-height: 150px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.selectedMembersList::-webkit-scrollbar {
    width: 2px;
    transition: all 0.3s ease-in;
}

.selectedMembersList::-webkit-scrollbar-track {
    background: #1A1A1A;
}

.selectedMembersList::-webkit-scrollbar-thumb {
    background: #444;
    border-radius: 10px;
}

.selectedMembersList::-webkit-scrollbar-thumb:hover {
    background: #666;
    width: 8px;
}

.groupAddFooter {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.createGroupButton {
    background-color: #6d4ff2;
    color: white;
    border: none;
    padding: 1rem;
    font-size: 1.2rem;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.createGroupButton:hover {
    background-color: #681ceb;
}

@media (max-width: 768px) {
    .groupAddContainer {
        width: 90%;
        padding: 1.5rem;
        transform: scale(0.8);
    }

    .groupAddHeader h2 {
        font-size: 1.3rem;
    }

    .createGroupButton {
        font-size: 1rem;
    }

    .groupAddContent {
        flex-direction: column;
        gap: 1rem;
    }

    .usersSection,
    .selectedMembersSection {
        flex: none;
    }

    .usersListContainer,
    .selectedMembersList {
        max-height: 200px;
    }
}